<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>LSQ错误记录</title>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    .put{
  	  width: 150px;
  	  margin: 5px;
    }
     .demo-table-expand {
        font-size: 0;
      }
      .demo-table-expand label {
        width: 270px;
        color: #99a9bf;
      }
      .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 100%;
      }
  </style>
</head>
<body>
	
	<div id="mengs" style="width: 100%;height: 100%;background: white;position:fixed;top: 0;left: 0;z-index: 2000;text-align: center;">
		<div id="meng_ch" style="width:20px;height:20px;margin: 0 auto;display:none;">
			<img style="width: 20px;height: 20px;" src="./static/img/5-121204193R5-50.gif" alt="">
		</div>
		<p id="psa" style="font-size:13px;display:none;">页面加载中....</p>
	</div>
	
  <div id="app" style="width: 100%;">
    <div style="width: 100%;float: left;">
	
	<div style="width:100%;height:50px;margin-bottom: 0.1333rem;">
	  
	  
	  <el-input v-show='username=="admin"' class='put' v-model="sai.t_compay" placeholder="所属乡镇" clearable></el-input>
	  
	  <el-button style='padding:12px 10px;' @click='git_active(1)' type="success">查询</el-button>
	  
	  
	  <el-button @click='to_updete' style='float:right;margin-top:5px;' type="primary">导出 Excel</el-button>
	</div>
	
	<el-table 
	     row-key="id"
	     :expand-row-keys="expands"
	     @row-click="rowClick"
	     v-loading="loading" element-loading-text="加载中..." width='100%' element-loading-spinner="el-icon-loading" style='border-top:1px solid #99A9BF;' size='mini' :data="tableData" stripe style="width: 100%;" header-align='center'  :height="heights" ref="multipleTable" tooltip-effect="dark" @selection-change="handleSelectionChange">
		<el-table-column type="selection" header-align='center' align='center' width="50"></el-table-column>
		
		<el-table-column type="expand" >
		      <template slot-scope="props">
		        <el-form label-position="right" inline class="demo-table-expand">
		          <el-form-item label="户主姓名 :"><span>{{ props.row.f_name }}</span></el-form-item>
		          <el-form-item label="户主联系电话 :"><span>{{ props.row.f_tel }}</span></el-form-item>
				  <el-form-item label="务工人员姓名 :"><span>{{ props.row.w_name }}</span></el-form-item>
				  <el-form-item label="务工人员性别 :"><span>{{ props.row.w_sex }}</span></el-form-item>
				  <el-form-item label="务工人员身份证号 :"><span>{{ props.row.w_card }}</span></el-form-item>
				  <el-form-item label="务工人员联系电话 :"><span>{{ props.row.w_tel }}</span></el-form-item>
				  <el-form-item label="疫情期间身体状况 :"><span>{{ props.row.w_body }}</span></el-form-item>
		          <el-form-item label="是否已外出（是/否） :"><span>{{props.row.w_out==0?'否':(props.row.w_out==1?'是':'')}}</span></el-form-item>
		          <el-form-item label="务工企业名称 :"><span>{{ props.row.w_company }}</span></el-form-item>
		          <el-form-item label="区域 :"><span>{{props.row.w_area==0?'县外':(props.row.w_area==1?'县内':'其他')}}</span></el-form-item>
		          <el-form-item label="工种 :"><span>{{ props.row.w_type }}</span></el-form-item>
		          <el-form-item label="疫情过后是否愿意留在县工业园区就业 :"><span>{{props.row.w_work==0?'否':(props.row.w_work==1?'是':'其他')}}</span></el-form-item>
		          <el-form-item label="所属乡镇 :"><span>{{ props.row.t_compay }}</span></el-form-item>
				  <el-form-item label="所属村 :"><span>{{ props.row.county }}</span></el-form-item>
		          <el-form-item label="填报时间 :"><span>{{ props.row.t_time }}</span></el-form-item>
				  <el-form-item label="企业所在地的 :"><span>{{ props.row.province }}</span></el-form-item>
		        </el-form>
		      </template>
		    </el-table-column>
		
	   <el-table-column header-align='center' prop="w_name" label="务工人员姓名"  align='center'></el-table-column>
	   <el-table-column header-align='center' prop="w_sex" label="务工人员性别"  align='center'></el-table-column>
	   <el-table-column header-align='center' prop="w_card" label="务工人员身份证号" align='center'></el-table-column>
	   <el-table-column header-align='center' prop="w_tel" label="务工人员联系电话"  align='center'></el-table-column>
	   <el-table-column header-align='center' prop="w_body" label="疫情期间身体状况"  align='center'></el-table-column>
	   <el-table-column header-align='center' prop="w_out" label="是否已外出（是/否）"  align='center'>
		   <template slot-scope="scope">{{scope.row.w_out==0?'否':(scope.row.w_out==1?'是':'')}} </template>
	   </el-table-column>
	   <el-table-column header-align='center' prop="w_company" label="务工企业名称"  align='center'></el-table-column>
	   <el-table-column header-align='center' prop="w_area" label="区域"  align='center'>
		   <template slot-scope="scope">{{scope.row.w_area==0?'县外':(scope.row.w_area==1?'县内':'其他')}} </template>
	   </el-table-column>
	   <el-table-column header-align='center' prop="county" label="所属村"  align='center'></el-table-column>
	    <el-table-column fixed="right" header-align='center' align='center' label="操作" >
	         <template slot-scope="scope">
				 <!-- 编辑 -->
	            <el-button @click.stop='putate(scope.row)' type="primary" icon="el-icon-edit" circle></el-button>
				<!-- 删除 -->
	             <!-- <el-button @click.stop='delect_date(scope.row)' type="danger" icon="el-icon-delete" circle></el-button> -->
	         </template>
	    </el-table-column>
	</el-table>
	
	<div style="margin:10px 20px;float: left;">
	    <el-button @click='$refs.multipleTable.clearSelection();'>取消选择</el-button>
		<el-button type="danger" @click='delect_date(multipleSelection)' >批量删除</el-button>
	  </div>
	 <!-- 分页插件 --> 
	  <div style="float:right;margin:10px;">
	     <el-pagination background @size-change="handleSizeChange"
	     @current-change="handleCurrentChange"
	     :page-sizes="ye_s"
	     :page-size="100"
	     layout="total, sizes, prev, pager, next, jumper"
	     :total="total_01">
	     </el-pagination>
	    </div>
   </div> 
	
	
<!-- 新增、编辑弹窗 -->
	<el-dialog title="新增/编辑" :visible.sync="dialogFormVisible" top='3vh' @close='qin_date()'>
	  <el-form>
	    <el-form-item label="户主姓名" :label-width="formLabelWidth">
			<el-input v-model="create_date.f_name" autocomplete="off"></el-input>
		</el-form-item>
	    <el-form-item label="户主联系电话" :label-width="formLabelWidth">
	    	<el-input v-model="create_date.f_tel" autocomplete="off"></el-input>
	    </el-form-item>
		<el-form-item label="务工人员姓名" :label-width="formLabelWidth">
			<el-input v-model="create_date.w_name" autocomplete="off"></el-input>
		</el-form-item>
		<el-form-item label="务工人员性别" :label-width="formLabelWidth">
			<el-input v-model="create_date.w_sex" autocomplete="off"></el-input>
		</el-form-item>
		<el-form-item label="务工人员身份证号" :label-width="formLabelWidth">
			<el-input v-model="create_date.w_card" autocomplete="off"></el-input>
		</el-form-item>
		<el-form-item label="务工人员联系电话" :label-width="formLabelWidth">
			<el-input v-model="create_date.w_tel" autocomplete="off"></el-input>
		</el-form-item>
		<el-form-item label="疫情期间身体状况" :label-width="formLabelWidth">
			<el-input v-model="create_date.w_body" autocomplete="off"></el-input>
		</el-form-item>
		<el-form-item label="是否已外出（是/否）" :label-width="formLabelWidth">
			<el-select v-model="create_date.w_out" placeholder="请选择">
			  <el-option label="是" value="1"></el-option>
			  <el-option label="否" value="0"></el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="务工企业名称" :label-width="formLabelWidth">
			<el-input v-model="create_date.w_company" autocomplete="off"></el-input>
		</el-form-item>
		
		<el-form-item label="所属村" :label-width="formLabelWidth">
			<el-input v-model="create_date.county" autocomplete="off"></el-input>
		</el-form-item>
		
		<el-form-item label="区域（县内/县外）" :label-width="formLabelWidth">
			<!-- <el-input v-model="form.name" autocomplete="off"></el-input> -->
			<el-select v-model="create_date.w_area" placeholder="请选择">
			  <el-option label="县内" value="1"></el-option>
			  <el-option label="县外" value="0"></el-option>
			  <el-option label="其他" value="2"></el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="工种" :label-width="formLabelWidth">
			<el-input v-model="create_date.w_type" autocomplete="off"></el-input>
		</el-form-item>
		<el-form-item label="疫情过后是否愿意留在县工业园区就业（是/否）" :label-width="formLabelWidth">
			<el-select v-model="create_date.w_work" placeholder="请选择">
			  <el-option label="是" value="1"></el-option>
			  <el-option label="否" value="0"></el-option>
			  <el-option label="其他" value="2"></el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="填报单位" :label-width="formLabelWidth">
			<el-input v-model="create_date.t_compay" autocomplete="off"></el-input>
		</el-form-item>
		<el-form-item label="填报时间" :label-width="formLabelWidth">
			<el-input v-model="create_date.t_time" autocomplete="off"></el-input>
		</el-form-item>
		<el-form-item label="企业所在地" :label-width="formLabelWidth">
			<el-select v-model="create_date.province" placeholder="请选择">
			   <el-option v-for='(i,index) in di_active' :label="i.name" :value="i.name"></el-option>
			</el-select>
		</el-form-item>
	  </el-form>
	  <div slot="footer" class="dialog-footer">
	    <el-button @click="dialogFormVisible = false;git_active(pages);qin_date();">取 消</el-button>
	    <el-button type="primary" @click="create_git">确 定</el-button>
	  </div>
	</el-dialog>
	
	<!-- <el-dialog title="统计报表" :visible.sync="biao_show" top='3vh' width='60%'> -->
	    <!-- <iframe src="biao.html" width="100%" height="540" style="border:none;"></iframe> -->
	<!-- </el-dialog> -->
	
  </div>
</body>


  <script src="./static/js/jquery.min.js"></script>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
	  $('#meng_ch').css('margin-top',($(window).height()-20)/2);
	  $('#meng_ch').css('display','block');
	  $('#psa').css('display','block');
	  
    new Vue({
      el: '#app',
	  computed:{
		  heights(){return ($(window).height()-120)},
		  
		  territory(){return localStorage.territory},
		  username(){return localStorage.username},
	  },
      data: function() {
        return {
			expands: [],// 要展开的行，数值的元素是row的key值
			loading:false,
			sai:{//赛选条件
				w_name:'',
				w_card:'',
				t_compay:'',
				w_out:'',
				w_work:'',
				page:1,
				size:15
			},
			create_date:{//新增、编辑数据
				f_name:'',//户主姓名
				f_tel:'',
				w_name:'',
				w_sex:'',
				w_card:'',
				w_tel:'',
				w_body:'',
				w_out:'',
				w_company:'',
				w_area:'',
				w_type:'',
				w_work:'',
				t_compay:'',
				t_time:'',
				province:'',
				county:'',
				
			},
			
			dialogFormVisible:false,
			form:{name:'',region:'0'},
			biao_show:false,
			formLabelWidth: '220px',
			total_01:0,//分页-总条数
			ye_s:[15,20],
			tiao:15,
			pages:1,
			arenu:0,//0==新增 1==编辑
			tableData:[],
			multipleTable:[],
			date_url:'http://2949d3408t.qicp.vip',//全局域名
			// date_url:'http://www.luosenqiao.top:82',
			di_active:[
				{name:'北京市'},{name:'天津市'},{name:'上海市'},{name:'重庆市'},{name:'河北省'},{name:'山西省'},{name:'辽宁省'},{name:'吉林省'},
				{name:'黑龙江省'},{name:'江苏省'},{name:'浙江省'},{name:'安徽省'},{name:'福建省'},{name:'江西省'},{name:'山东省'},{name:'河南省'},
				{name:'湖北省'},{name:'湖南省'},{name:'广东省'},{name:'海南省'},{name:'四川省'},{name:'贵州省'},{name:'云南省'},{name:'陕西省'},
				{name:'甘肃省'},{name:'青海省'},{name:'台湾省'},{name:'内蒙古自治区'},{name:'广西壮族自治区'},{name:'西藏自治区'},{name:'宁夏回族自治区'},
				{name:'新疆维吾尔自治区'},{name:'香港特别行政区'},{name:'澳门特别行政区'}
			]
		}
      },
	  methods:{
		  //导出表格
		  to_updete(){
			let urls = this.date_url+`/index/index/export_error_excel?&t_compay=`+this.sai.t_compay+`&username=`+localStorage.username;
			window.location.href = urls;
		  },
		  
		  tui(){
			  this.$confirm('是否确认注销当前账号?', '提示', {confirmButtonText: '确定',cancelButtonText: '取消',type: 'warning'}).then(() => {
				  localStorage.username = '';
				  localStorage.territory = '';
				  window.location.href = './static/login.html'
			  }).catch(() => {});
		  },
		  
		   //在<table>里，我们已经设置row的key值设置为每行数据id：row-key="id"
		    rowClick(row, event, column) {//点击表格展开当前行
		                  Array.prototype.remove = function (val) {
		                      let index = this.indexOf(val);
		                      if (index > -1) {
		                          this.splice(index,1);
		                      }
		                  };
		                  if (this.expands.indexOf(row.id) < 0) {
							  this.expands = [];     // 清空expangds
		                      this.expands.push(row.id);
		                  } else {
		                      this.expands.remove(row.id);
		                  }
		  },
		  
		  qin_date(){//清空添加编辑内容数据
			this.create_date.f_name = '';this.create_date.f_name='';
			this.create_date.f_tel='';this.create_date.w_name='';
			this.create_date.w_sex='';this.create_date.w_card='';
			this.create_date.w_tel='';this.create_date.w_body='';
		    this.create_date.w_out='';this.create_date.w_company='';
			                 this.create_date.w_area='';
			                 this.create_date.w_type='';
			                 this.create_date.w_work='';
			                 this.create_date.t_compay='';
			                 this.create_date.t_time='';
							 this.create_date.province = ''
							 this.git_active(this.pages);
		  },
		  
		  git_active(pages){//请求数据
		      // this.date_url = 'http://'+location.host;
		      this.loading = true;
		      this.sai.page = pages;//页数
			  this.sai.size = this.tiao;//条数
			  this.sai.username = localStorage.username;
			  this.sai.t_time = '';
			  if(localStorage.username!='admin'){
				  this.sai.t_compay= localStorage.territory;
			  }
			  $.ajax({
			    url:this.date_url+'/index/index/get_list_page',
			    type: 'post',
			    // 设置的是请求参数
			    data:this.sai,
			    dataType: 'json',
			    success: (res)=> {
				if(Object.prototype.toString.call(res) != '[object Object]'){res = JSON.parse(res)}
				   this.total_01 = res.count;
			       this.tableData = res.data;
				   this.loading = false;
				   $('#mengs').fadeOut(300);
			    }
			  })
		  },
		  
		  create_git(){//新增数据
		    if(this.create_date.f_name){}else{this.$message({type: 'warning',message: '户主姓名不能为空！'});return false;}
			if(this.create_date.f_tel){}else{this.$message({type: 'warning',message: '户主联系电话不能为空！'});return false;}
			if(this.create_date.w_name){}else{this.$message({type: 'warning',message: '务工人员姓名不能为空！'});return false;}
			if(this.create_date.w_sex){}else{this.$message({type: 'warning',message: '务工人员性别不能为空！'});return false;}
			if(this.create_date.w_card){}else{this.$message({type: 'warning',message: '务工人员身份证号码不能为空！'});return false;}
			if(this.create_date.w_tel){}else{this.$message({type: 'warning',message: '务工人员联系电话不能为空！'});return false;}
			if(this.create_date.w_body){}else{this.$message({type: 'warning',message: '身体状况不能为空！'});return false;}
			if(this.create_date.w_out){}else{this.$message({type: 'warning',message: '请选择是否已外出！'});return false;}
			if(this.create_date.w_company){}else{this.$message({type: 'warning',message: '务工企业名称不能为空！'});return false;}
			if(this.create_date.w_area){}else{this.$message({type: 'warning',message: '请选择区域！'});return false;}
			if(this.create_date.w_type){}else{this.$message({type: 'warning',message: '工种不能为空！'});return false;}
			if(this.create_date.w_work){}else{this.$message({type: 'warning',message: '请选择是否愿意留在县工业园区就业！'});return false;}
			if(this.create_date.t_compay){}else{this.$message({type: 'warning',message: '填报单位不能为空！'});return false;}
			if(this.create_date.t_time){}else{this.$message({type: 'warning',message: '填报时间不能为空！'});return false;}
			if(this.create_date.province){}else{this.$message({type: 'warning',message: '请选择企业所在地！'});return false;}
		    let ur = this.arenu==0?'/index/index/save':'/index/index/update_error';
		    console.log(this.create_date,'123');
			$.ajax({
			  url: this.date_url+ur,
			  type: 'post',
			  // 设置的是请求参数
			  data:this.create_date,
			  dataType: 'json',
			  success:  (res)=> {
				 console.log(res)
			     this.dialogFormVisible = false;//关闭弹窗
				 // this.$message({type: 'success',message: '成功'});
				 alert('成功');
				 this.git_active(this.pages);//更新数据
				 this.qin_date()//清除输入的数据
			  }
			})
		  },
		  
		  delect_date(is){//删除||批量删除
		    if(is){}else{return false}
		    this.$confirm('是否确认删除?', '提示', {confirmButtonText: '确定',cancelButtonText: '取消',type: 'warning'}).then(() => {
						var boxs= [];
						if(Object.prototype.toString.call(is)== '[object Array]'){
							for(var i=0;i<is.length;i++){
								boxs.push(is[i].id);
							}
						}else{
							boxs.push(is.id)
						}
						console.log(boxs)
						$.ajax({
						  url: this.date_url+'/index/index/batch_del_error',
						  type: 'post',
						  // 设置的是请求参数
						  data:{id:JSON.stringify(boxs)},
						  dataType: 'json',
						  success: (res)=> {
						     this.git_active(this.pages);//更新数据
							 // this.$message({type: 'success',message: '删除成功!'});
							 alert('删除成功');
						  }
						})
		            }).catch(() => {});
		  },
		  
		  create(){//新增
		      this.arenu = 0;
			  this.dialogFormVisible = true;
		  },
		  putate(i){//编辑
		     
		     console.log(i)
		      this.arenu = 1;
		      this.create_date = i;
			  this.dialogFormVisible = true;
		  },
		  
		  update(){//
			  document.querySelector("#excel-file").click();//事件委托
		  },
		  handleFile(e){//上传文件事件
		         let fil = e.target.files[0];
		         var formData = new FormData();
		         formData.append("flie",fil);
		         $('#excel-file').val('');//实现可以上传同一个文件
			     $.ajax({
			       url: this.date_url+'/index/index/save_all',
			       type: 'post',
			       // 设置的是请求参数
			        data: formData,
			        contentType: false,
			        processData: false,
			       dataType: 'json',
			       success: (res)=> {
					  // this.$message({type: 'success',message: '上传成功!'});
					  alert('上传成功');
			          this.git_active(this.pages);//更新数据
			       }
			     })
		  },
		  
		   handleSelectionChange(val) {
		          this.multipleSelection = val;//勾选的项
		   },
		   //分页相关函数
		    handleSizeChange(val) {
		     console.log(`每页 ${val} 条`);
			 this.tiao = val;//每页条数
			 this.git_active(this.pages);//获取数据
		   },
		   handleCurrentChange(val) {
		     // console.log(`当前页: ${val}`);
				this.pages = val;
				this.git_active(this.pages);//获取数据
		   },
		   log(i){console.log(i)},
	  },
	  mounted(){
		  if(localStorage.username!='admin'){
		  	this.sai.t_compay= localStorage.territory;
		  }
		  $('#mengs').fadeOut(300); 
		  if(localStorage.territory){}else{window.location.href = './static/login.html'}
		  this.git_active(this.pages);//更新数据
	  },
	  
    })
  </script>
</html>